.home-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header-container{
    display: flex;
    flex-direction: row;
    padding: 8px;
    margin: 8px;
}

.row-container{
    display: flex;
    flex-direction: row;
    padding: 16px 8px;
    background-color: white
}